.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  /* sempre definir como inline-block  para pegar os valores de margin e padding */
  background: linear-gradient(#ffbb00, #e5a40b);
  padding: 16px 36px;
  color: var(--cor-p5);
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  /* criar sombras nos botoes (x,y,blur,tamanho q o elemento cresce a mais doque o button, cor) */
  max-width: max-content;
  /* não deixar o batão se expandia a mais doque o tanho dele  */
  border: none;
  cursor: pointer;
  /* para criar a mãozinha no btn */
}

.botao:hover {
  background: linear-gradient(#ffb60b, #e59317);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 15px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
  /* adiciona um deley no movimento da seta */
}
/* adicionar a seta no btn */

.botao.seta:hover::after {
  transform: translateX(4px);
}
/* adiciona o movimento no btn no eixo X com o " transform: translateX(4px) " */

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
  /*  esta variavel vai faz com que  o detalhe utilize a cor do pai */
}

.link:hover {
  color: var(--cor-0);
}

/* titulo internos */
.titulo-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  background: url('../../img/dec/top-right.svg') no-repeat top right 20px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
